<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Link Fontasesome -->
    <script
      src="https://kit.fontawesome.com/c61ad57674.js"
      crossorigin="anonymous"
    ></script>

    <!-- StyleSheet file -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>WChat App</title>
  </head>
  <body>
    <div class="menu-btn"><i class="fas fa-bars"></i></div>
    <!-- Chat Section -->
    <div class="chat-container">
      <!-- Header Section -->
      <header class="chat-header">
        <h1><i class="fab fa-battle-net"> WChat</i></h1>
        <a href="#" class="btn"><i class="fas fa-sign-out-alt"></i>Signout</a>
      </header>

      <!-- Main Chat Section -->
      <main class="chat-main">
        <!-- Side section -->
        <side class="chat-sidebar">
          <h5>Welcome: <em id="username-show"></em></h5>
          <h3><i class="fas fa-comments"></i> Room Name:</h3>
          <h2 id="room-name"></h2>
          <h3><i class="fas fa-eye"></i> Channels</h3>

          <!-- Room section with creation -->
          <div class="form-control">
            <input
              type="text"
              name="channel-name"
              id="channel-name"
              placeholder="Create a new Channel..."
              required
            />
            <button type="submit" id="new-channel" class="btn">
              <i class="fas fa-plus"></i>
            </button>
          </div>
          <ul id="rooms">
            {% for room in rooms %}
            <li class="select-room">{{ room|title }}</li>
            {% endfor %}
          </ul>
        </side>

        <!-- Message Section -->
        <div id="chat-messages"></div>
      </main>

      <!-- Sending message section -->
      <div class="chat-form-container">
        <form id="chat-form">
          <input
            type="text"
            id="msg"
            placeholder="Enter Message"
            autocomplete="off"
            required
          />
          <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
        </form>
      </div>
    </div>

    <!-- User Join Form -->
    <div id="modal">
      <div class="join-container">
        <!-- Header Section -->
        <header class="join-header">
          <h1><i class="fab fa-battle-net"> WChat</i></h1>
        </header>

        <!-- Form Section -->
        <section class="join-main">
          <form id="join-form">
            <div class="form-control">
              <label for="username"><i class="fas fa-user"></i> Username</label>
              <input
                type="text"
                name="username"
                id="username"
                placeholder="Enter username..."
                required
                autocomplete="off"
                autofocus
              />
            </div>
            <div class="form-control">
              <label for="room">Room</label>
              <select name="room" id="room" required autocomplete="off">
                <option disabled selected value=""
                  >Please Choose Chatting Room
                </option>
                {% for room in rooms %}
                <option value="{{ room|title }}">{{ room|title }}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn">Join Chat</button>
          </form>
        </section>
      </div>
    </div>

    <!-- SocketIO -->
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"
    ></script>
    <!-- <script src="{{ url_for('static', filename='socketio.js') }}"></script> -->
    <script>
    document.addEventListener("DOMContentLoaded", () => {
      // Select DOM
      const nameShow = document.querySelector('#username-show');
      const modal = document.querySelector('#modal');
      const usernameEntry = document.querySelector('#username');
      const roomSelect = document.querySelector('#room');
      const chatMessage = document.querySelector('#chat-messages');
      const inputMessage = document.querySelector('#msg');
      const roomName = document.querySelector('#room-name');
      let room;
      let user = JSON.parse(localStorage.getItem('user'));
      let name;

      // Listen to button click on small screen to toggle class "show"
      document.querySelector(".menu-btn").addEventListener("click", () => {
        document.querySelector(".chat-sidebar").classList.toggle("show");
      });


      // Connect to websocket
      var socket = io.connect(
        location.protocol + "//" + document.domain + ":" + location.port
      );

      // When connected, check username localstorage and Join Room
      socket.on('connect', () => {

        // Check if username is exist in localstorage
        if (!localStorage.getItem('user')) {
          showName();
        } else {
          name = user.username;
          room = user.room;
          nameShow.innerHTML = name;
          joinRoom(name, room);
        }
      });

      // Display message
      socket.on('message', data => {
        if (data.username === user.username) {
          const div = document.createElement("div");
          div.classList.add("message-mine");
          div.innerHTML = `<p class="message-name">${data.username} <span>${data.time}</span></p>
          <p class="text">${data.msg}</p>
          `;
          chatMessage.append(div);
        } else if (typeof data.username !== 'undefined'){
          const div = document.createElement("div");
          div.classList.add("message");
          div.innerHTML = `<p class="message-name">${data.username} <span>${data.time}</span></p>
          <p class="text">${data.msg}</p>
          `;
          chatMessage.append(div);
        } else {
          printMsg(data.msg, data.error);
        }

        chatMessage.scrollTop = chatMessage.scrollHeight;
      });


      // Listen to event for login out
      document.querySelector(".chat-header .btn").addEventListener("click", (e) => {

        leaveRoom(user.username, user.room);
        localStorage.clear();
        setTimeout(showName, 50);
        e.preventDefault();
      });

      // Listen to send message event
      document.querySelector('#chat-form').onsubmit = e => {
        socket.send({'username': user.username, 'msg': inputMessage.value, 'room': room});
        inputMessage.value = '';
        inputMessage.focus();
        e.preventDefault();
      }

      // Listen to submit button to emit a "new room" event
      document.querySelector("#new-channel").onclick = () => {
        user = JSON.parse(localStorage.getItem('user'));
        const channelName = document.querySelector("#channel-name");
        socket.emit("new room", {'username': user.username, 'new_room' : channelName.value});
        channelName.value = "";
      };

      // function for enter key
      document.querySelector('#channel-name').addEventListener('keyup', e => {
        e.preventDefault();
        if(e.keyCode === 13){
          document.querySelector('#new-channel').click();
        }
      });

      // When a new room is announced,check add to the unordered list
      socket.on("create room", (data) => {

        // If response success the add new room to list else print error
        if (data.success) {
          const li = document.createElement('li');
          li.classList.add("select-room");
          li.innerHTML = data.room;
          document.querySelector('#rooms').append(li);
          const opt = document.createElement('option');
          opt.value = data.room;
          opt.innerHTML = data.room;
          document.querySelector('#room').append(opt);
        } else {
          const error = "error-msg";
          printMsg(data.error, error);
        }
      });


      // join my own room create
      socket.on('join room', data => {
        const name = user.username;
        leaveRoom(name, room);
        const createRoom = data.room;
        joinRoom(name, createRoom);
        room = createRoom;
        const userUpdate = {
          username: name,
          room: createRoom
        }
       localStorage.setItem('user',JSON.stringify(userUpdate));
      })

      // Room Selection
      document.querySelector("#rooms").addEventListener("click", (e) => {
        if (e.target && e.target.matches("li.select-room")) {
           let newRoom = e.target.innerHTML;
           if (newRoom === room){
             const msg = `You are already in ${room} room`;
             const error = "error-msg";
             printMsg(msg, error);
           } else {
             leaveRoom(user.username, room);
             joinRoom(user.username, newRoom);
             room = newRoom;
             const userUpdate = {
               username: name,
               room: newRoom
             }
            localStorage.setItem('user',JSON.stringify(userUpdate));
           }
        }
      });

      // Display pervious messages
      socket.on("my event", messages => {
        messages.forEach((data) => {
          if (data.username === user.username) {
            const div = document.createElement("div");
            div.classList.add("message-mine");
            div.innerHTML = `<p class="message-name">${data.username} <span>${data.time}</span></p>
            <p class="text">${data.msg}</p>
            `;
            chatMessage.append(div);
          } else if (typeof data.username !== 'undefined'){
            const div = document.createElement("div");
            div.classList.add("message");
            div.innerHTML = `<p class="message-name">${data.username} <span>${data.time}</span></p>
            <p class="text">${data.msg}</p>
            `;
            chatMessage.append(div);
          }
        });
      });


      //*** Functions Parts ***//

      // Leave room function
      function leaveRoom(name, room) {
        socket.emit("leave", {'username': name, 'room': room });
      }

      // Join room function
      function joinRoom(name, room) {

        socket.emit("join", { 'username': name, 'room': room });
        roomName.innerHTML = room;
        chatMessage.innerHTML = "";
        inputMessage.focus();
      }

      // Print Message
      function printMsg(msg, error) {
        const div = document.createElement("div");
        div.classList.add("message-mine");
        div.innerHTML = `<p class="${error} text">${msg}</p>`;
        chatMessage.append(div);
      }

      function showName(){
        /*
        When page loadeded check username if not exist asked user for
        his or she name and choose chatting room to join, else join he
        or she to last channel exist in localStorage
        */

        modal.style.display = 'block';
        modal.style.opacity = 1;

        // listen to submit of name and room choose form
        document.querySelector("#join-form").onsubmit = (e) => {
          // Store username and room in localStorage and send user to room chat
          const userDetail = {
            username: usernameEntry.value,
            room: roomSelect.value,
          };
          localStorage.setItem("user", JSON.stringify(userDetail));
          user = JSON.parse(localStorage.getItem('user'));
          modal.style.opacity = 0;
          modal.style.display = "none";
          nameShow.innerHTML = user.username;
          room = user.room;
          joinRoom(usernameEntry.value, roomSelect.value);
          // Prevent form submit
          e.preventDefault();
        };
      }

    });

    </script>
  </body>
</html>
