<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Link Fontasesome -->
    <script
      src="https://kit.fontawesome.com/c61ad57674.js"
      crossorigin="anonymous"
    ></script>

    <!-- StyleSheet file -->
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    /> -->
    <link rel="stylesheet" href="../static/style.css" />
    <title>WChat App</title>
  </head>
  <body>
    <div class="menu-btn"><i class="fas fa-bars"></i></div>
    <!-- Chat Section -->
    <div class="chat-container">
      <!-- Header Section -->
      <header class="chat-header">
        <h1><i class="fab fa-battle-net"> WChat</i></h1>
        <a href="#" class="btn"><i class="fas fa-sign-out-alt"></i>Signout</a>
      </header>

      <!-- Main Chat Section -->
      <main class="chat-main">
        <!-- Side section -->
        <side class="chat-sidebar">
          <h5>Welcome: <em>Smith</em></h5>
          <h3><i class="fas fa-comments"></i> Room Name:</h3>
          <h2 id="room-name">Python</h2>
          <h3><i class="fas fa-users"></i> Channels</h3>
          <ul id="rooms">
            <li>Public</li>
            <li>Social</li>
            <li>Computer</li>
            <li>Math</li>
            <li>Physcial</li>
          </ul>
        </side>

        <!-- Message Section -->
        <div class="chat-messages">
          <div class="message">
            <p class="message-name">John <span>9:31pm</span></p>
            <p class="text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos,
              quaerat quisquam.
            </p>
          </div>
          <div class="message-mine">
            <p class="message-name">Smith <span>9:31pm</span></p>
            <p class="text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos,
              quaerat quisquam.
            </p>
          </div>
        </div>
      </main>

      <!-- Sending message section -->
      <div class="chat-form-container">
        <form id="chat-form">
          <input
            type="text"
            id="msg"
            placeholder="Enter Message"
            autocomplete="off"
            required
          />
          <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
        </form>
      </div>
    </div>

    <!-- SocketIO -->
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"
    ></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='socketio.js') }}"></script>

    <script>
      // Add event listener  to button click on small screen
      document.querySelector(".menu-btn").addEventListener("click", () => {
        // Add and remove class
        document.querySelector(".chat-sidebar").classList.toggle("show");
      });
    </script>
  </body>
</html>
